.services-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    padding: 0 1.5rem;
    padding-top: 1.2rem;
    padding-bottom: 0.3rem;
    text-align: center;
    margin: 0.8rem 1.2rem;
    transition: all 0.3s ease;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: normal;
  }
  
  .services-card:hover {
    box-shadow: 0px 1px 10px gray;
  }
  
  .services-card img {
    width: 400px; /* Increased size for the image */
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-radius: 50%;
  }
  
  .services-card h2 {
    font-size: 2rem; /* Increased font size for the heading */
    margin-top: 0.5rem; /* Adjusted margin */
    margin-bottom: 1rem;
    font-weight: 700;
    align-self: center;
  }
  
  .services-card p {
    font-size: 1.2rem;
    margin-top: 1rem;
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  @media screen and (min-width: 600px) {
    .services-card h2 {
      font-size: 3rem; /* Larger font size for the heading */
    }
  
    .services-card img {
      width: 400px; /* Larger size for the image */
    }
  
    .services-card p {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 900px) {
    .services-card {
      flex: 1;
      max-width: 600px;
      min-width: 400px;
    }
  
    .services-card h2 {
      font-size: 3rem; /* Even larger font size for the heading */
    }
  
    .services-card img {
      width: 400px; /* Even larger size for the image */
    }
  
    .services-card p {
      font-size: 1.6rem;
      font-family:'Times New Roman', Times, serif;
      font-weight: 500;
    }
  }
  